<div class="row">
  <div class="col-xs-12">
    <nav class="navbar navbar-default" class="black">
      <div class="container-fluid">

        <a class="navbar-brand" routerLink='/homepage' style="color:rgb(40, 177, 219)">GAMEon</a>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li routerLinkActive='active'>
              <a class="nav-link" routerLink='/main' style="color:rgb(204, 8, 8)">Home</a>
            </li>
            <li routerLinkActive='change'>
              <a class="nav-link" routerLink="/buy" style="color:rgb(204, 8, 8)">Buy Games</a>
            </li>
            <li routerLinkActive='active'>
              <a class="nav-link" routerLink="/sell" style="color:rgb(204, 8, 8)">Sell Games</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive='active'>
              <a class="nav-link; active" routerLink="/cart" style="color:whitesmoke">
                <img src="https://cdn0.iconfinder.com/data/icons/shopping-set-4/512/18-512.png" alt="image" class="img-responsive; pull-left"
                  style="max-height:25px">Cart
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>