<div class="container">
    <h3 style="color:white">GET ALL OF YOUR GAMES FROM HERE!!</h3>
    <p style="color:whitesmoke"> We got huge collection of games for all of you , so that you can play them in the comfort of your home, and also at low
        cost.
    </p>
    <hr>
    <div class="col-xs-6">
        <a class="list-group-item clearfix" style="background-color:rgb(3, 0, 48)" *ngFor="let buying of buy">
            <div class="pull-left" style="max-width:330px">
                <h5 style="color:white">{{buying.names}}</h5>
                <p style="color:white">{{buying.desc}}</p>
                <button class="btn btn-danger ; pull-left" (click)= "onAddToCart(buying)">Add To Cart</button>
            </div>
            <div>
                <span class="pull-right">
                    <img [src]="buying.getImg" alt="image not loaded" class="img-responsive" style="max-height:100px">
                </span>
            </div>
        </a>
    </div>
    <div class="col-xs-6">
        <a class="list-group-item clearfix" style="background-color:rgb(3, 0, 48)" *ngFor = "let s of sell">
            <div>
                <h5>{{s.name}}</h5>
                <p>{{s.type}}</p>
                <button class="btn btn-primary" (click)= "onAddToCart(buying)">Buy Game</button>
            </div>
            <div>
                <h5 class="pull-left">{{s.price}}</h5>
                <span class="pull-right">
                    <img [src]="" alt="image" class="img-responsive" style="max-height:100px">
                </span>
            </div>
        </a>
    </div>
</div>