<div class="container">
    <h3 style="color:white">GET ALL OF YOUR GAMES FROM HERE!!</h3>
    <p style="color:whitesmoke"> We got huge collection of games for all of you , so that you can play them in the comfort of your home, and also at low
        cost.
    </p>
    <hr>
    <div class="col-xs-7">
        <a class="list-group-item clearfix" style="background-color:rgb(3, 0, 48)" *ngFor="let buying of buy">
            <div class="pull-left">
                <h5 class="list-group-item-heading" style="color:white">{{buying.names}}</h5>
                <p class="list-group-item-detail" style="color:white ; max-width:335px">{{buying.desc}}</p>
                <button class="btn btn-danger ; pull-left" (click)= "onAddToCart(buying)">Add To Cart</button>
            </div>
                <span class="pull-right">
                    <img [src]="buying.getImg" alt="image not loaded" class="img-responsive" style="max-height:70px">
                </span>
        </a>
    </div>
</div>