.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.container {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 290px;
    right: 2px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.text-block2 {
    position: absolute;
    bottom: 180px;
    right: 2px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}