<div class="row">
  <div class="col-xs-12">
    <h3 style="color:whitesmoke">Your cart Items</h3>
    <hr>
  </div>
  <br>
  <div class="col-xs-6">
    <a class="list-group-item clearfix" style="background-color:rgb(3, 0, 48); cursor:pointer" *ngFor="let c of cart" hoverDirective>
      <div class="pull-left">
        <h4 class="list-group-item-heading" style="color:whitesmoke">{{c.names}}</h4>
        <p class="list-group-item-detail" style="color:whitesmoke ; max-width:330px">{{c.desc}}</p>
      </div>
      <div>
        <span>
          <img [src]="c.getImg" alt="image not loaded" class="img-responsive; pull-right" style="max-height:70px">
        </span>
      </div>
    </a>
  </div>
</div>