<div class="row">
  <div class="col-xs-12">
    <h3 style="color:whitesmoke">Your cart Items</h3>
  </div>
<hr>
  <div class="col-xs-4">
    <a class="list-group-item clearfix" style="background-color:rgb(3, 0, 48); cursor:pointer" *ngFor="let c of cart">
      <div class="pull-left">
        <h4 style="color:whitesmoke">{{c.names}}</h4>
        <p style="color:whitesmoke">{{c.desc}}</p>
        </div>
        <div>
          <span>
            <img [src]="c.getImg" alt="image not loaded" class="img-responsive; pull-right" style="max-height:70px">
          </span>
        </div>
    </a>
  </div>
</div>